{#
/**
* Base section template for extending.
* Not available via Drupal UI.
*/
#}
{%
  set classes = [
    'section-layout',
    'section-layout__two-columns',
    content.sidebar|render|striptags|trim ? 'has-sidebar',
    settings.container_type ? 'container-fluid' : 'container',
    settings.sidebar_position ? 'section-layout__sidebar-left',
  ]
%}

{% if content.content|render|striptags|trim or content.sidebar|render|striptags|trim %}
  <section{{ attributes.addClass(classes) }}>
    
    <div class="{{ settings.section_ratio }} {{ settings.container_type ? 'container' }}">
      <div {{ region_attributes.content.addClass('section-layout__content') }}>
        {{ content.content }}
      </div>
      <aside {{ region_attributes.sidebar.addClass('section-layout__sidebar') }}>
        {{ content.sidebar }}
      </aside>
    </div>

  </section>
{% endif %}
