{#
/**
* Title simple. Regions are in layers on top of each other.
*
* List of regions: title, info, tags, image.
*/
#}

{%
  set classes = [
  'title',
]
%}

<div {{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

  {% block content %}
    {% if content %}
      <div class="title__content">

        {% block title %}
          {% if content.title|render|striptags|trim %}
            <h3 {{ region_attributes.title.addClass('title__title') }}>
              {{ content.title }}
            </h3>
          {% endif %}
        {% endblock %}

        {% block info %}
          {% if content.info|render|striptags|trim %}
            <div {{ region_attributes.info.addClass('title__info') }}>
              {{ content.info }}
            </div>
          {% endif %}
        {% endblock %}

      </div>
    {% endif %}
  {% endblock %}

</div>

